<div class="w-full border-b border-headerBorder bg-background p-4"> 
    <div class="mx-auto w-full max-w-6xl">
        <header class="flex w-full justify-between">
            <div class="flex items-center gap-4 font-bold text-1xl">
                <a href="">Disher</a>
            </div>
            <nav data-orientation="horizontal" class="relatize z-10 flex max-w-max flex-1 items-center justify-center">
                <div class="position:relative">
                    <ul data-orientation="horizontal" class="group flex flex-1 list-none items-center justify-center space-x-1">
                        <li class="hover:bg-neutral-900 hover:text-white px-3 group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium">
                            <a href="" class="flex items-end gap-2">
                                <mat-icon fontIcon="home" class="text-xl flex justify-center"></mat-icon>
                                  Home
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="flex gap-2 flex items-center">
                <mat-icon fontIcon="settings" class="cursor-pointer "></mat-icon>
            </div>
        </header>
    </div>
</div>

<section class="mx-auto w-full max-w-4xl flex justify-center">
    <div class="flex items-center md:h-[50vh]">
        <div class="mx-auto flex w-4/5 flex-col items-center justify-center space-y-5 text-center">
            <h1 class="text-5xl font-bold text-center">Disher, the best place for search food's recipes!</h1>
            <h2 class="text-muted-foreground leading-6 text-slate-300">For culinary connoisseurs <span class="font-semibold">(or not)</span> who have passion for cooking! Explore our vast collection of recipes tailored to your available ingredients</h2>
        </div>
    </div>
</section>

<section class="mx-auto w-auto max-w-auto flex justify-center">
    <div class="flex justify-between border border-headerBorder rounded-md items-center px-2">
        <mat-icon fontIcon="search"></mat-icon>
        <input placeholder="Search a recipe, dish, whatever! You decide." style="width: 350px; height: 35px;"  class="bg-transparent border-0 focus:outline-none font-medium shadow-sm px-2 w-full h-10 py-2 hover:bg-accent transition-colors hover:text-accent">
    </div>
</section>